// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// Theme
$primary-background:#fff;
$secondary-background: rgb(249, 251, 255);

$text-color-05: #fcfcfc;
$text-color-10: #f4f4f4;
$text-color-11: #eeeeee;
$text-color-12: #e8e8e8;
$text-color-13: #e3e3e3;
$text-color-15: #c0c0c0;
$text-color-20: #a8a8a8;
$text-color-30: #999999;
$text-color-40: #777777;
$text-color-50: #666666;
$text-color-60: #555555;
$text-color-70: #444444;
$text-color-80: #333333;
$text-color-90: #1c1c1c;
$text-color-100: #000000;

$primary-color: #6F41F8;
$primary-color-light: #7a4ff8;
$primary-color-dark: #4625aa;

$secondary-color: #8e37e0;
$secondary-color-light: #33298b;
$secondary-color-dark: #561280;

$third-color: #2bb3fc;
$third-color-light: #4dacff;
$third-color-dark: #00579f;

$small-input-height: 35px;
$medium-input-height: 39px;
$large-input-height: 50px;

$radius-sm: 4px;
$radius-md: 8px;
$radius-lg: 15px;
$radius-xl: 20px;
$radius-xxl: 25px;
