@font-face {
    font-family: 'iransans';
    font-weight:400;
    src: url('../fonts/IRANSansWeb400.woff') format('woff');
}
@font-face {
    font-family: 'iransans';
    font-weight:500;
    src: url('../fonts/IRANSansWeb500.woff') format('woff');
}
@font-face {
    font-family: 'kalameh';
    src: url('../fonts/Kalameh-Regular.woff') format('woff');
}
